{
    "mqtt_broker": "192.168.1.200",
    "mqtt_port": 1883,
    "mqtt_topic": "mediacenter/keylogger",
    "mqtt_username": "mqtt",
    "mqtt_password": "ptl2271.A",
    "reconnect_min_delay": 1,
    "reconnect_max_delay": 300,
    "watched_keys": [
        "media_volume_mute",
        "media_volume_up",
        "media_volume_down",
        "media_play_pause",
        "media_next",
        "media_previous",
        "up",
        "down",
        "left",
        "right",
        "enter",
        "esc",
        ["alt_l", "f4"]
    ]
}
